.content {
    position: relative;
    margin: auto;
}

.apa {
    font-size: 12pt;
    line-height: 2;
    text-indent: .5in;
    position: relative;
    height: auto;
    min-height: 100%;
    overflow-wrap: break-word;
    padding: 1in;
}

ul li {
    list-style: inside;
    list-style-type: disc;
}

.unindented,
h1,
h2 {
    text-indent: 0;
}